<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.lab.mapper.PostMediaMapper">

    <resultMap id="BaseResultMap" type="com.cqu.lab.dao.domain.PostMedia">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postId" column="post_id" jdbcType="BIGINT"/>
            <result property="mediaType" column="media_type" jdbcType="TINYINT"/>
            <result property="mediaUrl" column="media_url" jdbcType="VARCHAR"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,post_id,media_type,
        media_url,cover_url,sort_order
    </sql>
</mapper>
